<section>
    {% if selectedCity is not empty %}
        <div>
            <p><strong>{{ selectedCity.city }}</strong></p>
            <p>{{ selectedCity.date }}</p>
            <img src="{{ asset('/assets/images/' ~ selectedCity.weather ~ '.png') }}">
            <p>min {{ selectedCity.min }}°C / max {{ selectedCity.max }}°C</p>
        </div>
        <p><em>OU</em></p>
    {% endif %}
    <div>
        <p><a href="{{ path('homepage') }}">Sélectionnez une ville dans la liste de gauche</a></p>
    </div>

</section>