{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for key, weatherData in content %}
    <a class="city" href="{{ path('city_select', { 'id': key}) }}">
        <div><img class="weather-pic" src="{{ asset('/assets/images/' ~ weatherData.weather ~ '.png')}}"></div>
        <div>
            <p class="city_name">{{ weatherData.city }}</p>
            <p>{{ weatherData.date|date('d-m')}}: {{ weatherData.min }}°C / {{ weatherData.max }}°C</p>
        </div>
    </a>
    {% endfor %}
{% endblock %}
